body{
  padding-top:108px;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
ul{
  margin:0px;
  padding:0px;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top:0;
  left:0;
  right:0;
  
  height:109px;
  /*background-color: #C4C4C4;*/
  background:linear-gradient(rgba(14, 245, 245),rgba(255,255,255));
  z-index:100;
  padding-left:30px;
  padding-right:30px;
}

.header-link{
  padding-right:30px;
  color:black;
  text-decoration: none;
}

.header-link:hover{
  cursor:pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,2);
  padding: 4px 4px;
  border-radius:6px;
}

.menu{
  padding-right: 30px;
  padding-bottom:30px;
}

.menu .menu-lines{
  position: absolute;
  z-index:101;
  width:35px;
  height:35px;
}

.menu .menu-lines span {
  display:block ;
  width: 35px;
  height:5px;
  margin-bottom:10px;
  background-color: #CDCDCD;
  border-radius:3px;
  transition: all ease .2s;
}

.menu .menu-faketrigger{
  position: absolute;
  z-index: 102;
  height:35px;
  width:35px;
  opacity:0;
  cursor:pointer;
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform:rotate(45deg) scaleX(1.25);
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
  opacity:0;
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
  transform-origin: 0% 100%;
  transform:rotate(-45deg) scaleX(1.25) ; 
}

.menu ul{
  position: absolute;
  z-index:100;
  right:0;
  top:0;
  width:30%;
  padding-top:100px;
  background:linear-gradient(rgba(14, 245, 245,0.3) 30%,rgba(255,255,255) 70%);
  margin-right:-200px;
  transition: all ease .2s;
  list-style:none;
  
}

.menu .menu-faketrigger:checked ~ul{
  margin-right:0;
}

.menu ul li{
  padding-top:25px;
  padding-left:15px;
  padding-bottom:10px;
}
.menu ul li a {
  text-decoration:none;
  color: #CDCDCD;
  font-weight: 600;
  transition: all ease .3s;
  font-size:20px;
}

.menu ul li a:hover{
  color: #999;
}

.profile-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  padding: 32px 0px;
  gap:64px;
}

.profile-photo{
  width:200px;
  height:200px;
  object-fit: cover;
  object-position: center;

  border-radius: 100px;
}

.profile-photo-container{
  display:flex;
  align-items: center;
}

.profile-info{
  width:40%;
}

.adicional-information-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap:24px;
  padding: 35px;
}

.hobbies-container{
  
  display: flex;
  flex-direction: column;
  align-items: end;
}
.games,
.hobbies{
  display:flex;
  align-items: start;
  margin-top:30px;
}

.game,
.hobbie{
  height:150px;
  width:104px;
  /*background-color: #DFDFDF;*/
  background:linear-gradient(rgb(214, 214, 224),rgb(80, 184, 216));
  border-radius: 10px;
  margin-left:6px;
  padding-bottom:10px;
  font-size: 15px;
  font-weight:400px;
  
  display:flex;
  align-items: end;
  justify-content: center;
  position:relative;
}
.game{
  background:linear-gradient(rgb(219, 224, 230),rgb(42, 236, 243));
}

.games-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  
}


.games-list,
.hobbies-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap:16px;
  padding:0;
  margin:0;
}

.game-number{
  position:absolute;
  top:5px;
  left:10px;
}

.feedback-container{
  display:flex;
  flex-direction: column;
  row-gap:30px;
  padding-left: 60px;
  align-items: start;
  position: relative;
  margin-top:50px;
}

.feedbacks{
  display:flex;
  flex-direction: column;
  row-gap:10px;
  width:90%;
  padding-left:25px;
}
.feedback-input{
  height:56px;
  background-color: #ECECEC;
  border:none;
  border-radius: 4px;
  font-size:16px;
  font-family: inherit;
  padding-left:15px;
}
.feedback-textarea{
  height:56px;
  background-color: #ECECEC;
  border:none;
  border-radius: 4px;
  font-size:16px;
  font-family: inherit;
  box-sizing: border-box;
  padding-top:18px;
  padding-left:15px;
}



.feedback-textarea::placeholder{
  font-size:16px;
  color:#454444;
  font-family:'Roboto', sans-serif;
}

.feedback-input::placeholder{
  font-size:16px;
  color:#454444;
  font-family:'Roboto', sans-serif;
  
}
.feedbacks div{
  display:flex;
  justify-content: flex-end;
  width:100%;
}
.enviar-button{
  height:39px;
  width:127px;
  background-color: #D9D9D9;
  border:none;
  border-radius:4px;
  margin-right:30px;
}

.enviar-button:hover{
  opacity:0.8;
  box-shadow: 1px 1px 5px rgba(0,0,0,2);
  color:black;
}

.enviar-button:active{
  background-color: grey;
  color:white;
}

.footer{
  display:flex;
  height:70px;
  background-color: #C4C4C4;
  margin-top:60px;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(rgb(255,255,255),rgb(14, 245, 245));
}

.footer-nav{
  display:flex;

  gap:10px;
  padding-left:60px;
}

.icon{
  height:32px;
  width:32px;
}

.contato-button{
  height:38px;
  width:162px;
  padding: 8px 16px;
  background-color: #DFDFDF;
  border-radius: 5px;
  border: none;
  font-weight:600;
  margin-right:50px;
}

.contato-button:hover{
  opacity:0.8;
  box-shadow: 1px 1px 5px rgba(0,0,0,2);
  color:black;
}

.contato-button:active{
  background-color: grey;
  color:white;
}

@media (max-width:1400px){
  .hobbies-container{
    align-items: start;
  }
}

@media (max-width:630px){
  .profile-container{
    flex-direction: column;
    gap:32px;

  }
  .profile-info{
    width:95%;
  }
  .feedback-container{
    width:80%;
  }
  .feedbacks div{
  justify-content: center;
  }
  .footer{
    flex-direction: column-reverse;
    margin:0;
    
    height: 127px;
    margin-top:10px;
  }
  .footer{
    justify-content: center;
  }
  .footer-nav{
    padding-left:0;
    padding-top:15px;
  }
  .contato-button{
    margin:0;
  }
  
}
@media (max-width:450px){
  .feedback-container{
    padding-left: 30px;
  }
  .feedbacks{
    font-size:14px;
  }
  .feedback-textarea{
    padding-top:10px;
  }
  .header-link{
    display: none;
  }
  .left-section{
    font-size:14px;
  }
}

@media (min-width:451px){
  .menu{
    display: none;
  }
}