body{
  padding-top:100px;
  margin:0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top:0;
  left:0;
  right:0;

  height:109px;
  background-color: #C4C4C4;
}

.left-section{
  margin-left:30px;
}

.right-section{
  margin-right:30px;
}

.header-link{
  margin-right:30px;
  color:black;
  text-decoration: none;
}

.header-link:hover{
  cursor:pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,2);
  padding: 4px 4px;
  border-radius:6px;
}

.profile-container{
  display:flex;
  align-items: center;
  background-color: #F3F3F3;
  height:318px;
}

.profile-photo{
  width:200px;
  height:200px;
  object-fit: cover;
  object-position: center;

  border-radius: 100px;

}

.profile-photo-container{
  display:flex;
  align-items: center;
  justify-content: end;
  width:500px;
  margin-right:70px;
}

.profile-info{
  width:500px;
}


